.ok{
    text-align: center;
    background-color: rgb(185, 230, 235);
    border-radius: 50px;

}
.okk{
    padding: 15px;
    margin-top: 150px;
    
}
body{
    background-color: rgb(138, 212, 215);
}