.a{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.b{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.c{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.d{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.e{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.f{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.g{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.h{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.i{
    text-align: center;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.j{
    ctext-align: enter;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.k{
    ctext-align: enter;
    background-image: linear-gradient(to right, rgb(96, 96, 96), rgb(0,0,0) );
    width: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
body{
    text-align: center;
}